model_name: {{ model_name_slug }}
model_class: model_code.{{ model_name_slug }}_mlflow_model.py:{{ model_class_prefix }}{{ model_class_suffix }}
model_organism_name: MODEL_ORGANISM_NAME
model_artifact_key: MODEL_ARTIFACT_KEY
model_config_json: '{"model_variant": "MODEL_VARIANT"}'